:root {
    --bg-color: #50165c; 
    --bg-secondary: #75c; 
    --basic-txt-color: #e0deff; 
    --highlight-txt-color: #ce60e4; 
    --highlight-prime: #5d2f66; 
    --lowlight-prime: #3e1946; 
}

html, body {
    height: 100vh;
    width: 100%;
    overflow: hidden;  
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 2rem; 
    line-height: 2.2rem; 
    padding-left: 0; 
    color: var(--basic-txt-color);
}

h2, h2>a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 1.1rem; 
    line-height: 1.3rem; 
    display: inline-block; 
    color: var(--basic-txt-color);
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 1em; 
    text-transform: uppercase;
    font-weight: bolder; 
    padding: 0.5rem; 
    color: var(--basic-txt-color);
}

a, p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 0.9rem;
    line-height: 1.5rem; 
    color: var(--basic-txt-color);
    display: inline-block; 
}

a { 
    text-decoration: none; 
    text-decoration-color: none; 
}

nav {
    position: static;
    display: block; 
    top: 0; 
    width: 100%; 
    height: 10vh; 
    padding-left: 2rem; 
    padding-bottom: 2rem; 
    background-color: var(--bg-color);
    /* border-bottom:  0.5px solid var(--lowlight-prime); */
    z-index: 1; 
}

nav>div {
    display: inline-block;
}

ul, li {
    list-style: none;
    padding-inline-start: 0;
}

#top_menu {
    height: 100%; 
}

.top-nav {
    display: inline-block; 
    padding-left: 2rem; 
}

.titleBox {
    display: inline-block; 
    text-align: center; 
}

.side-menu {
    display: block; 
    position: static;
    width: 20%;
    background-color: var(--bg-color);
    overflow: hidden;
    z-index: 1;
}

#scrollable_menu {
    display: block; 
    max-height: 80vh; 
    overflow: scroll;
    scroll-behavior: smooth;
}

#menu_content {
    height: 100%;
}

#menu_toggle {
    display: block;
    position: static; 
    bottom: 0;  
    height: 6vh; 
    text-align: center; 
    background-color: var(--bg-color);
}

.menu-section-head {
    align-items: center; 
    justify-content: center;
    padding: 0.5rem; 
    padding-left: 2rem;
    /* border-top: 0.5px solid var(--lowlight-prime); 
    border-bottom:  0.5px solid var(--lowlight-prime); */
}

.menu-section-head i, 
.menu-section-head chevron, 
.menu-section-head h2 {
    /* display: inline-block;
    height: 100%;   */
    /* padding: .5rem; */
    /* padding-left: 0;  */
}

.menu-section-head i, 
.menu-section-head chevron {
    flex: 1; 
}

.menu-section-head h2 {
    flex: 6; 
}

.menu-section-head:hover, .menu-section-head.open  {
    background-color:  var(--highlight-prime); 
    border-top: 1px solid var(--basic-txt-color);
    /* border-bottom: 1px solid var(--lowlight-prime); */
}

.resource-entry {
    padding: 0.5rem; 
    padding-left: 3rem; 
    color: var(--basic-txt-color); 
    display: block;
}

.resource-entry-box {
    padding: 0.3rem;
    padding-left: 1rem; 
    padding-right: 3rem;
    background-color: var(--bg-color);
    background-color: var(--lowlight-prime)
}

.resource-entry-box:hover {
    /* background-color: var(--bg-secondary); */
  color: var(--highlight-txt-color);
}
.resource-entry-box a:hover {
    /* background-color: var(--bg-secondary); */
  color: var(--highlight-txt-color);
}

.resource-section {
    max-height: 20vh;
    overflow-y: scroll;
    scrollbar-darkshadow-color: grey; 
    transition: max-height 0.5s 0.2s;
    border-left: 6px solid var(--highlight-prime);
    /* border-bottom: 1px solid var(--lowlight-prime);  */
}

.header-box {
    display: flex;
    align-items: center; 
}

.resource-section.collapsed {
    max-height: 0;
    transition: max-height 0.5s 0.2s; 
}

