.top-bar {
  overflow: visible;
  z-index: 8;
  border-bottom: 1px solid #8c45cf;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  margin: -70px 0 0 0;
  position: fixed;
  padding: 10px;
  justify-content: stretch;
  height: 70px;
}

.top-bar > * {
  flex: 1;
}

.top-bar .top-bar-item {
  background-color: #FDFAFF;
  border: 1px solid #D7ADFF;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25);
  margin: 0 8px;
  height: 100%;
  border-radius: 2px;
  cursor: default;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  width: 100%;
  max-width: 350px;
}

.mapboxgl-ctrl-geocoder {
  height: 100%;
  border-radius: 0px;
  max-width: none !important;
}

.dropdown-row {
  display: flex;
  margin-top: 0;
}

.nav-search {
  margin-top: 5px;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 8px !important;
}

button.geocoder-icon.geocoder-icon-close {
  background-color: #FDFAFF;
}

#nav-search .msm-map-search-box {
  box-shadow: none !important;
  width: 100% !important;
  background-color: transparent;
}

.dropdown-row ul {
  display: flex;
  flex-direction: row;
}

.clear-icon-container {
  padding: 10px;
  cursor: default;
}
@media only screen and (max-width: 1187px) {
  .responsive-disappear {
    display: none;
  }
}
