.top-bar {
  overflow: visible;
  z-index: 8;
  border-bottom: 1px solid #8c45cf;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: stretch;
  height: 70px;
}

.top-bar > * {
  flex: 1;
}

.top-bar .top-bar-item {
  background-color: #FDFAFF;
  border: 1px solid #D7ADFF;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25);
  margin: 0 8px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
}

.mapboxgl-ctrl-geocoder {
  height: 100%;
  border-radius: 0px;
}

.dropdown-row {
  display: flex;
  margin-top: 0;
}

.nav-search {
  margin-top: 5px;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 8px !important;
}

#nav-search .msm-map-search-box {
  box-shadow: none !important;
  width: 100% !important;
}

.dropdown-row ul {
  display: flex;
  flex-direction: row;
}
