.top-bar {
  overflow: visible;
  z-index: 8;
  background-color: #0072b3;
  border-bottom: 1px solid #8c45cf;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  margin: -70px 0 0 0;
  position: fixed;
  padding: 10px 10px 10px 20px;
  justify-content: stretch;
  height: 70px;
}

.top-bar > * {
  flex: 1;
}

#nav-help,
.top-bar .top-bar-item {
  background-color: #fdfaff;
  border: 1px solid #d7adff;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25);
  margin: 0 8px;
  height: 100%;
  border-radius: 2px;
  cursor: default;
}

#logo {
  display: flex;
  justify-content: center;
  flex: 0 0 191px;
}

#logo a {
  text-align: center;
}

#logo img {
  height: 110%;
  margin-top: -2%;
}

.mapboxgl-ctrl-geocoder {
  height: 100%;
  border-radius: 0px;
  max-width: none !important;
}

.dropdown-row {
  display: flex;
  margin-top: 0;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 8px !important;
}

button.geocoder-icon.geocoder-icon-close {
  background-color: #fdfaff;
}

.msm-map-search-box {
  box-shadow: none !important;
  width: 100% !important;
  background-color: transparent;
}

#nav-help {
  cursor: pointer;
  flex: 0 1 5.5em;
  display: inline-flex;
  padding: 9px 0px 9px 10px;
}

#nav-help svg {
  margin-top: 6px;
  margin-right: 2px;
}

.help-icon {
  color: var(--msm-purple);
}

.dropdown-row ul {
  display: flex;
  flex-direction: row;
}

.clear-icon-container {
  padding: 10px;
  cursor: pointer;
}
