.search-center {
  color: #7e7e7e;
  font-size: 12px;
  margin-top: 10px;
}

.saved-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
  padding: 16px;
  box-shadow: 0 3px 4px rgba(184, 147, 217, 0.2);
}

.saved-content-container {
  overflow-y: auto;
  position: relative;
  margin: 0;
  padding: 16px 16px 8px 16px;
  flex: auto;
}

.saved-draggable {
  margin: 0 0 0.5em 0;
}

.saved-list header {
  display: flex;
  justify-content: space-between;
}

.saved-list h3 {
  color: #8c45cf;
  margin: 0px;
}

.remove-button {
  color: #333;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.print-email-btn {
  height: 20px;
  background-color: #8c45cf;
  color: white;
  border-radius: 5px;
  border: none;
  transition: .3s;
  margin-left: 5px;
}

.print-email-btn:hover {
  background-color: #a16fd1;
  cursor: pointer;
}

.print-email-btn:focus {
  outline: none;
}
