.search-center {
  color: #7e7e7e;
  font-size: 12px;
  margin-bottom: 10px;
}

.saved-list {
  padding: 20px;
}

.saved-list header {
  display: flex;
  justify-content: space-between;
}
.saved-list h3 {
  color: #8c45cf;
  margin: 0px;
}

.remove-button {
  color: #333;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
