.search-center {
    color:#7e7e7e;
    font-size:12px;
}
.saved-list header {
  display: flex;
  justify-content: space-between;
}
.saved-list h3 {
  color: gray;
  color: #8c45cf;
  font-weight: bold;
  margin: 7px 2px;
}

.remove-button {
  color: #333;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}
