
#cluster-list {
  background-color: #ff0000;
  height: 20px;
  width: 100px;
  color: blue;
}

.top-bar {
  overflow: visible;
  z-index: 8;
  border-bottom: 1px solid #8c45cf;
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: stretch;
  height: 70px;
}

.top-bar > * {
  flex: 1;
}

.top-bar .top-bar-item {
  background-color: #FDFAFF;
  border: 1px solid #D7ADFF;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25);
  margin: 0 8px;
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
}

.mapboxgl-ctrl-geocoder {
  height: 100%;
  border-radius: 0px;
  max-width: none !important;
}

.dropdown-row {
  display: flex;
  margin-top: 0;
}

.nav-search {
  margin-top: 5px;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 8px !important;
}

button.geocoder-icon.geocoder-icon-close {
  background-color: #FDFAFF;
}

#nav-search .msm-map-search-box {
  box-shadow: none !important;
  width: 100% !important;
  background-color: transparent;
}

.dropdown-row ul {
  display: flex;
  flex-direction: row;
}

.clear-icon-container {
  padding: 10px;
}

.expandable-content-wrapper {
  background-color: white;
}

#clusterList-inner {
  background-color: white;
  padding: 15px;
  border: 1px solid #D7ADFF;
  border-radius: 8px;
}

.image {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.item {
  color: #8c45cf;
  font-weight: 400;
  font-size: 15px;
  vertical-align: top;
  display: inline-block;
  width: 20em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 6px;
  line-height: 1.5em;
}
