.details-pane .provider-info {
    border: solid 1px #e2d5ed;
    margin: 5px 0;
    overflow: hidden;
    padding: 5px 0;
    background-color: #f0ebfb;
}
.popup-info,
.popup-text {
    padding-left: 5px;
}
.details-pane .popup-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details-pane .bottom-button-bar {
    flex-direction: row-reverse;
}