/* .details-pane .provider-info {
border: solid 1px #e2d5ed;
margin: 5px 0;
overflow: hidden;
padding: 5px 0;
background-color: #f0ebfb;
}
.popup-info,
.popup-text {
padding-left: 5px;
}
.details-pane .popup-text {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
*/
.provider-card {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  background-color: #FFFFFF;
  border: 2px solid #C8A2EB;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25); 
  outline: none;
  user-select: none;
  overflow: hidden;
}

.provider-card.card-expanded {
  background: #F9F2FF;
  border: 2px solid #8C45CF;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 1px 3px 4px rgba(184, 147, 217, 0.4);
}

.provider-card.card-expanded:hover {
  box-shadow: 3px 5px 8px rgba(184, 147, 217, 0.8);
}

.provider-card.card-wrapped {
  background: #FFFFFF;
  border: 2px solid #DCCFE8;
  border-radius: 4px;
  box-shadow: 1px 3px 4px rgba(96, 1, 185, 0.25);
}

.provider-card.card-wrapped:hover {
  border: 2px solid #C8A2EB;
  box-shadow: 1px 3px 4px rgba(110, 2, 207, 0.4);
}

.provider-card.card-expanded .card-draggable-icon {
  color: #A36DD6;
}

.provider-card.card-expanded:hover .card-draggable-icon {
  color: #8C45CF;
}

.provider-card.card-wrapped .card-draggable-icon {
  color: #DCCFE8;
}

.provider-card.card-wrapped:hover .card-draggable-icon {
  color: #D4A5FF;
}

.provider-card.card-dragging .card-draggable-icon {
  color: #8C45CF;
}

.provider-card.active {
  background: #EFDFFD;
  border: 2px solid #B799D2;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 3px 4px rgba(89, 0, 168, 0.4) !important;
}

.provider-card.card-dragging:active {
  background: #EFDFFD;
  border: 2px solid #8C45CF;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 3px 5px 8px rgba(184, 147, 217, 0.8) !important;
}

.card-layout {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 10px;
  width: 100%;
}

.provider-card.saved .card-layout{
  padding-left: 41px;
  margin-left: -31px;
}

.card-draggable-icon {
  align-self: center;
  padding: 10px 10px;
  flex: 0 0 auto;
  color: #C8A2EB
}
/*
.provider-card.search {
   background-color: #f5fbff; 
}
*/
.provider-card .card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}

.card-header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

h5.wrapped {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  height: 18px;
}

h5.expanded {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #000;
  text-overflow: ellipsis;
  cursor: pointer;
  height: 18px;
}

.wrapped-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.prov-type {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prov-type.wrapped {
  width: 100px;
}
.prov-type.expanded {
  width: 180px;
}

.prov-type p {
  font-size: 10px;
  margin: 5px 0;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapped-info svg:first-of-type {
  margin-right: 5px;
}
.wrapped-info .wrapped-icons svg {
  font-size: 12px;
  margin: 3px;
}

.wrapped-info:last-child {
  min-width: 60px;
  font-size: 12px;
  color: #7e7e7e;
}

.wrapped-icons {
  color: #7e7e7e;
  display: none;
}

.save-button-container {
  position: absolute;
  top: -10px;
  right: -10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  width: 70px;
  border: 0;
  flex-direction: column;
  cursor: pointer;
  outline: none;
}

.remoteButton {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 73px;
  width: 70px;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  background-color: #E08963;
  color: #FFF;
}

.remoteButton > svg {
  margin-bottom: 0.25em;
}

.button.saved {
  background-color: #382E77;
  color: #fff;
}

.button.unsaved {
  background-color: #6563E0;
  color: #fff;
}
