.sort-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
}
.sort-container .expandable-container {
    flex: 1 1 auto;
    margin-right: 1rem;
}
.side-menu .expandable-container .expanded-content {
    padding: 0;
    position: absolute;
    top: 100%;
}
.side-menu .expandable-content .expandable-header {
    padding: 0;
}
.side-menu .expandable-header {
    padding: 0.75rem;
    text-transform: uppercase;
}
.side-menu .expandable-header h4 {
    margin: 0;
    padding: 0;
}
.expandable-content-wrapper.sort-by {
    box-shadow: 1px 1px 2px #aaa;
    flex: 1 1 auto;
    padding: 0;
    cursor: pointer;
}

.radio-container {
    color: gray;
    padding: 0.75rem;
}
.radio-container:hover {
    background-color: #d2e9ff;
}
.radio-container.selected {
    background-color: #bedefd;
}
.radio-container input {
    display: none;
}
.radio-container label {
    margin: 0;
    cursor: pointer;
}