.map {
  /* Cross-browser compatability issues:
  ** Proper map display in Chrome, Safari, and Firefox
  ** requires '-webkit-fill-available' + absolute positioning
  ** (prevents map height collapsing to 0)
  */
  height: 100%; /* take up full height of flex'ed <main> */
  height: -webkit-fill-available;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.grow {
  overflow: visible;
}

.distance-marker {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  padding: 5px;
  border-radius: 5px;

  font-family: var(--msm-font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: normal;

  background-color: #d561b5;
  color: white;
  box-shadow: 0px 3px 6px #0000005e;
  /* Creates a border around the text. */
  text-shadow: -1px 0 #971172, 0 1px #971172, 1px 0 #971172, 0 -1px #971172;
}

.marker {
  cursor: pointer;
}

.baseState {
  display: block;
  width: 40%;
  height: 40%;
  transform-origin: bottom;
  margin: auto;
  cursor: pointer;
}

.marker-highlight-container {
  position: relative;
  height: 70px;
  width: 100%;
  margin: 0% 0 -100% 0;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  padding-bottom: 100%;
}

.marker-highlight {
  display: block;
  position: absolute;
  width: 100%;
  height: 62%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  margin: auto;
  bottom: 100%;
  opacity: 0.5;
}

.highlightOn {
  animation: highlightColor linear 3s;
}

.bounceOn {
  animation: changeheight ease 1s 2 both;
}

.bounceOff {
  animation: shimmy linear 1.5s forwards;
}

@keyframes highlightColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeheight {
  0% {
    transform: scale(1);
  }
  20%,
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  90%,
  100% {
    transform: scale(1);
  }
}

.mapboxgl-popup-content {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.2em;
  color: white;
  background: #8c45cf;
  border: 2px solid #8c45cf;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-top: none;
  border-bottom-color: #8c45cf;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  border-top: none;
  border-left: none;
  border-bottom-color: #8c45cf;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  border-top: none;
  border-right: none;
  border-bottom-color: #8c45cf;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-bottom: none;
  border-top-color: #8c45cf;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  border-bottom: none;
  border-left: none;
  border-top-color: #8c45cf;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: #8c45cf;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-left: none;
  border-right-color: #8c45cf;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  -webkit-align-self: center;
  align-self: center;
  border-right: none;
  border-left-color: #8c45cf;
}
