.side-menu {
  position: absolute;
  top: 0;
  left: 20px;
  padding: 20px 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

.react-tabs__tab-list {
  display: flex;
  flex: initial;
  margin: 0;
  padding: 0;
  border: 0;
}

.react-tabs__tab {
  border: none;
  background: #aaa;
  color: white;
  border-radius: 8px 8px 0 0;
  flex: 1 1 auto;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;      
}
.react-tabs__tab--selected {
  background: white;
  border: none;
  box-shadow: 0 0 6px grey;
}

.react-tabs__tab h3 {
  margin: 8px 20px;
  text-transform: uppercase;
  color: white;
}
.react-tabs__tab--selected h3 {
  color: #8c45cf;
}

.react-tabs__tab-panel {
  background-color: white;
  flex: auto;
  min-height: 0;
  box-shadow: 0 0 6px grey;
  height: 100%;
}

.selected-tab-panel {
  display: flex;
  flex-direction: column;
}

#provider-counter {
	font-size: 14px;
	background-color: #939393;
  border-radius: 50%;
  color: white;
	display: block;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	padding: .1em .5em .15em .4em;
}
.react-tabs__tab--selected #provider-counter {
  background-color: #bbb;
}