.dropdown-menu {
    width: 100%;
}
.dropdown-menu div {
    flex: 1 0 auto;
}
.dropdown-menu svg {
    align-self: center;
    flex: 0 0 16px;
    transition: 0.2s transform ease-out;
}
.dropdown-menu.closed svg { transform: rotate(-90deg); }